/* index.css is a CSS for bookmarks/index.html. */

body { /* entire page background is black */
    background-color: black; /* bg color is black */
}

.wd-bookmarks {
    color: white;
    font-size: 20px;
    padding-left: 16px;
    padding-top: 12px;
    font-weight: bold;
    font-family: Arial;
    border-top: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    max-width: 600px;
}

.wd-bookmark-post {
    border: 1px solid rgb(47, 51, 54);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 616px;
}

.wd-handle {
    color: rgb(47, 51, 54);
    font-size: 13px;
    padding-left: 16px;
    font-family: Arial;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    max-width: 600px;
}

.wd-author-name {
    padding-top: 12px;
    padding-left: 12px;
    color: white;
    font-size: 15px;
}

.wd-bookmark-link-content {
    border: rgb(47, 51, 54) solid 1px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 506px;
}

.wd-author-handle {
    color: rgb(47, 51, 54);;
}

.wd-author-img {
    padding-left: 12px;
    padding-top: 16px;
    padding-below: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    grid-column: 1;
    border-bottom: 1px solid rgb(47, 51, 54);
}


.wd-bookmark-post-link-headline {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
}

.wd-share {
    color: rgb(47, 51, 54);
}

.wd-comment {
    color: rgb(47, 51, 54);
}

.wd-bookmark-post-link {
    color: rgb(47, 51, 54);
    padding: 12px;
}

.wd-heart {
    padding-right: 12px;
}

.wd-heart a{
    color: red;
}

.wd-bookmark-interaction-link {
    color: rgb(47, 51, 54);
    text-underline: none;
}

.circular {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    overflow: auto;
    padding-top: 12px;
}

.circular img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wd-bookmark-post-interaction {
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    padding-bottom: 12px;
}

i {
    padding-right: 12px;
}

.wd-icon {
    padding-right: 12px;
}

.wd-bookmark-post-content {
    color: red;
    font-size: 15px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 600px;
    overflow: hidden;
    max-width: 516px;
}

.wd-bookmark-post-link-preview {
    color: rgb(47, 51, 54);
    padding: 6px 12px;
}



.wd-bookmark-post-img img {
    width: 504px;
    height: 264px;
    background-size: auto;
    border-radius: 15px 15px 0px 0px;
    border: rgb(47, 51, 54) 1px solid;
}