.img {
    z-index: 0;
}

.image-caption {
    color: white;
    position: absolute;
    bottom: 2%;
    left: 5%;
    font-size: 24px;
    z-index: 1;
    font-weight: bold;
}

.img-generic-caption {
    color: #F1F1F1;
    position: absolute;
    bottom: 12%;
    left: 5%;
    font-size: 12px;
    z-index: 2;
}


#bootstrap-overrides .nav-tabs {
    display: flex;
    align-content: stretch;
    border-bottom-style: none;
}

#bootstrap-overrides .nav-item {
    display: flex;
    align-content: stretch;
}

#bootstrap-overrides .col-xxl-7 .list-group-item {
    border-color: #F0F0F0;
    border-width: thin;
    border-top-style: none;
}

#bootstrap-overrides .nav-item .active {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-color: blue;
    border-bottom-width: medium;
    color: black;
}

#bootstrap-overrides .nav-link {
    color: darkgrey;
    font-family: serif;
}

#bootstrap-overrides .form-text {
    background-color: #F1F1F1;
    color: black;
}

#bootstrap-overrides .fa-cog {
    color: #F1F1F1;

}

#bootstrap-overrides .fa-twitter {
    color: blue;
}

#bootstrap-overrides .list-group-item span {
    padding-left: 17.5px;

}

#bootstrap-overrides .follow {
    background-color: #F1F1F1;
}

#bootstrap-overrides .list-group-item-action {
    border-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    font-size: 20px;
    color: darkgrey;
}

#bootstrap-overrides .list-group-item-action.active {
    color: black;
    font-weight: bolder;
}

#bootstrap-overrides .list-group-item.container-fluid.follow {
    background-color: #F1F1F1;
    border-style: none;
}

#bootstrap-overrides .text-muted {
    color: darkgrey !important;
    font-size: 13px !important;
}


#bootstrap-overrides .main.border-start {
    color: red !important;

}


#bootstrap-overrides .ellipsis {
    font-size: 20px;
}